/*
 * Membership APIs
 *
 * To search, enroll, perform benefit selection and view all the eligibile benefits
 *
 * OpenAPI spec version: 1.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class DefaultApiController : Controller
    { 

        /// <summary>
        /// 
        /// </summary>
        
        /// <param name="benefitId">Benefit Identifier</param>
        /// <param name="clientId">Tenant the package is associated</param>
        /// <param name="expand">An attribute to retrieve sub resources</param>
        /// <response code="200">ok</response>
        /// <response code="404">Benefit not found</response>
        [HttpGet]
        [Route("/madhuv/PingAPI/1.0/benefits/{benefitId}/")]
        [SwaggerOperation("BenefitsBenefitIdGet")]
        public virtual void BenefitsBenefitIdGet([FromRoute]string benefitId, [FromQuery]string clientId, [FromQuery]string expand)
        { 
            throw new NotImplementedException();
        }


        /// <summary>
        /// Retrieve member information
        /// </summary>
        
        /// <param name="memberId">The member&#39;s unique identifier</param>
        /// <param name="clientId">The tenant the member belongs</param>
        /// <response code="200">ok</response>
        /// <response code="404">Member not found</response>
        [HttpGet]
        [Route("/madhuv/PingAPI/1.0/members/{memberId}/")]
        [SwaggerOperation("MembersMemberIdGet")]
        public virtual void MembersMemberIdGet([FromRoute]string memberId, [FromQuery]string clientId)
        { 
            throw new NotImplementedException();
        }


        /// <summary>
        /// 
        /// </summary>
        
        /// <param name="memberId">The member&#39;s unique identifier</param>
        /// <param name="clientId">The tenant the member belongs</param>
        /// <param name="expand">An attribute to retrieve sub resources</param>
        /// <param name="view">Input channel</param>
        /// <response code="200">ok</response>
        /// <response code="404">Member not found</response>
        [HttpGet]
        [Route("/madhuv/PingAPI/1.0/members/{memberId}/packages/")]
        [SwaggerOperation("MembersMemberIdPackagesGet")]
        public virtual void MembersMemberIdPackagesGet([FromRoute]string memberId, [FromQuery]string clientId, [FromQuery]string expand, [FromQuery]string view)
        { 
            throw new NotImplementedException();
        }


        /// <summary>
        /// Manage benefit selection
        /// </summary>
        /// <remarks>Update benefits</remarks>
        /// <param name="setBenefitRequest"></param>
        /// <response code="200">OK</response>
        [HttpPatch]
        [Route("/madhuv/PingAPI/1.0/members/{memberId}/")]
        [SwaggerOperation("MembersMemberIdPatch")]
        public virtual void MembersMemberIdPatch([FromBody]SetBenefitRequest setBenefitRequest)
        { 
            throw new NotImplementedException();
        }


        /// <summary>
        /// Enroll a member
        /// </summary>
        /// <remarks></remarks>
        /// <param name="enrollRequest">To enroll a member in helix</param>
        /// <response code="201">A member created successfully</response>
        /// <response code="400">Bad Request</response>
        [HttpPost]
        [Route("/madhuv/PingAPI/1.0/members")]
        [SwaggerOperation("MembersPost")]
        public virtual void MembersPost([FromBody]EnrollRequest enrollRequest)
        { 
            throw new NotImplementedException();
        }


        /// <summary>
        /// Search a member by ID
        /// </summary>
        /// <remarks></remarks>
        /// <param name="searchRequest">To search a member.</param>
        /// <response code="200">A member</response>
        /// <response code="404">Member not found</response>
        [HttpPost]
        [Route("/madhuv/PingAPI/1.0/members/search")]
        [SwaggerOperation("MembersSearchPost")]
        [SwaggerResponse(200, type: typeof(List<MemberInfo>))]
        public virtual IActionResult MembersSearchPost([FromBody]SearchRequest searchRequest)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<List<MemberInfo>>(exampleJson)
            : default(List<MemberInfo>);
            return new ObjectResult(example);
        }


        /// <summary>
        /// 
        /// </summary>
        
        /// <param name="packageId">The base package linked to the campaign</param>
        /// <param name="clientId">Tenant the package is associated</param>
        /// <param name="expand">An attribute to retrieve sub resources</param>
        /// <response code="200">ok</response>
        /// <response code="404">Package not found</response>
        [HttpGet]
        [Route("/madhuv/PingAPI/1.0/packages/{packageId}/")]
        [SwaggerOperation("PackagesPackageIdGet")]
        public virtual void PackagesPackageIdGet([FromRoute]string packageId, [FromQuery]string clientId, [FromQuery]string expand)
        { 
            throw new NotImplementedException();
        }
    }
}
